* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    padding: 5px 2px;
}
.inner-form {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;  
}

.inner-form .input-field {
    height: 48px;
}

.inner-form .input-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
   
}

.inner-form .input-field input.placeholder {
    color: #2979ff;
    font-size: 16px;
}

.inner-form .input-field input:hover,
.inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
} 

.inner-form .input-field.first-wrap {
    flex-grow: 1;
    display: flex; 
    align-items: center;
    background: #f1f1f1;
}

.inner-form .input-field.first-wrap input { 
    flex-grow: 1;
}

.inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    display: none;
}

.inner-form .input-field.first-wrap svg {
    width: 35px;
    height: 35px;
    fill: #ef9a9a;
}

.inner-form .input-field.btn-control {
    min-width: 120px;
}


.inner-form .input-field.btn-control .btn-search {
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #ff4081;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    font-weight: 300;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    border: 0;
 
}

.inner-form .input-field.btn-control .btn-search:hover {
    background: #ff4081;
}

.inner-form .input-field.btn-control .btn-search:focus {
    outline: 0;
    box-shadow: none;
}



